{% load static %}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <span class="nav-link-text">UaiFood</span>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'index' %}">
              <i class="ni ni-basket text-primary"></i>
              <span class="nav-link-text">Pedidos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'cardapio' %}">
              <i class="ni ni-books text-orange"></i>
              <span class="nav-link-text">Cardápio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'mesas' %}">
              <i class="ni ni-support-16 text-orange"></i>
              <span class="nav-link-text">Mesas</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" target="_blank" href="{% url 'enviapedido' %}">
              <i class="ni ni-single-02 text-orange"></i>
              <span class="nav-link-text">Acesso do Garçon</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-button-power text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
       
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link active active-pro" 
               target="_self" 
               href="{% url 'index' %}">
              <span class="nav-link-text" style="text-align: center;">UAI<br>FOOD</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>